###
# Caddy
###
DOMAIN=
IMPORTER_DOMAIN=

###
# Firefly III
# instructions on https://raw.githubusercontent.com/firefly-iii/firefly-iii/main/.env.example
###

SITE_OWNER=mail@example.com
# the following items should be generated with "pwgen -s 32 3" - must be 32 characters long!
APP_KEY=
STATIC_CRON_TOKEN=
MYSQL_PASSWORD=


###
# Firefly Importer
# generate personal access token in Options/Profile/Oauth
###
FIREFLY_III_ACCESS_TOKEN=

###
# nothing below this line should need to be changed
###
TRUSTED_PROXIES=**
DB_CONNECTION=mysql
DB_HOST=firefly-db
DB_PORT=3306
DB_DATABASE=firefly
DB_USERNAME=firefly

APP_ENV=local
APP_DEBUG=false
DEFAULT_LANGUAGE=en_US
DEFAULT_LOCALE=equal
TZ=America/Chicago
LOG_CHANNEL=stack
APP_LOG_LEVEL=notice
AUDIT_LOG_LEVEL=info

MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_USER=firefly
MYSQL_DATABASE=firefly

MYSQL_USE_SSL=false
MYSQL_SSL_VERIFY_SERVER_CERT=false

CACHE_DRIVER=file
SESSION_DRIVER=file

COOKIE_PATH="/"
COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_SAMESITE=lax

MAIL_MAILER=log

AUTHENTICATION_GUARD=web
AUTHENTICATION_GUARD_HEADER=REMOTE_USER
PASSPORT_PRIVATE_KEY=
PASSPORT_PUBLIC_KEY=
CUSTOM_LOGOUT_URL=

DISABLE_FRAME_HEADER=false
DISABLE_CSP_HEADER=false
TRACKER_SITE_ID=
TRACKER_URL=
ALLOW_WEBHOOKS=false

DKR_BUILD_LOCALE=false
DKR_CHECK_SQLITE=true
DKR_RUN_MIGRATION=true
DKR_RUN_UPGRADE=true
DKR_RUN_VERIFY=true
DKR_RUN_REPORT=true
DKR_RUN_PASSPORT_INSTALL=true

APP_NAME=FireflyIII
BROADCAST_DRIVER=log
QUEUE_DRIVER=sync
CACHE_PREFIX=firefly
PUSHER_KEY=
IPINFO_TOKEN=
PUSHER_SECRET=
PUSHER_ID=
DEMO_USERNAME=
DEMO_PASSWORD=
IS_HEROKU=false
FIREFLY_III_LAYOUT=v1
APP_URL=http://localhost