# Bucket name
AUTORESTIC_BACKBLAZE_RESTIC_REPOSITORY=
# Encyrption password - must not lose
AUTORESTIC_BACKBLAZE_RESTIC_PASSWORD=
# Backblaze B2 account ID
AUTORESTIC_BACKBLAZE_B2_ACCOUNT_ID=
# Backblaze B2 account key
AUTORESTIC_BACKBLAZE_B2_ACCOUNT_KEY=