{
        acme_dns cloudflare {$CF_API_TOKEN}
        email {$EMAIL}
}
auth.{$DOMAIN} {
        reverse_proxy authentik:9000
}
hs.{$DOMAIN} {
        reverse_proxy /web* headscale-ui:443 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        reverse_proxy headscale:8080
}